include ../components/head.pug
block append head 
  title Sách
include ../components/header.pug
include ../components/navbar.pug

p Chi tiết sản phẩm

include ../components/footer.pug
include ../components/jsscript.pug