include ../components/head.pug
block append head 
  title Tạo sách mới
include ../components/header.pug
include ../components/navbarAdmin.pug

.h Tạo sách mới
hr.ngang
.container
  div.row.mt-3.mb-5
    div.col-sm-4
    form.form-horizontal.col-sm-4(action='/create-book', method='POST')
      .mb-2.mt-2
        label.form-label(for='bookName') Tên sách
        input#bookName.form-control(type='text', name='bookName')
      .mb-3
        label.form-label(for='price') Giá
        input#price.form-control(type='number', name='price', min='0')
      .mb-3
        label.form-label(for='image') Hình ảnh
        input#image.form-control(type='text', name='image')
      .mb-3
        label.form-label(for='count') Số lượng
        input#count.form-control(type='number', name='count', min='1')
      input.btn.btn-primary(type='submit', title='Gửi')

include ../components/footer.pug
include ../components/jsscript.pug