include ../components/head.pug
block append head 
  title Lịch sử bán hàng
include ../components/header.pug
include ../components/navbar.pug

.h Lịch sử bán hàng
hr.ngang
.giohang(style="padding-left: 0px;")
  .container(style="display: flex; justify-content: center;")
    .thongtin(style="display: flex; justify-content: center; padding: 20px 0px;")
      table.table
        thead
          tr.table-title
            th(scope='col') STT
            th(scope='col') Mã Giao dịch
            th(scope='col') Chi tiết
        -let stt = 1
        
        tbody
          if booksold
            each sell in booksold
              tr
                td #{stt}
                td #{sell.id}
                td
                  -const url = '/history-sold-detail?id=' + sell.id
                  a(href=url) Xem
                -stt++
            else
              tr
                td(colspan="3") Lịch sử trống

include ../components/footer.pug
include ../components/jsscript.pug