include ../components/navbarAdmin.pug
.container

    .row
        form(action='/book-manager-details', method='post')
            input(hidden, name='id', value=book.id)
            .mb-3.col-2
                label.form-label(for='bookName')  Tên sách
                input#bookName.form-control.form-control-sm(name='bookName', value=book.bookName)
            .mb-3.col-1
                label.form-label(for='price') Giá
                input#price.form-control.form-control-sm(name='price', value=book.price)
            .mb-3.col-3
                labelform-label(for='image') Hình ảnh
                input#image.form-control.form-control-sm(name='image', value=book.image)
            button(type='submit').btn.btn-primary.mb-3 Gửi