include ../components/navbar.pug
.container
    .row
        form.form-horizontal(action='/book-sell-by-user', method='POST')
            if books
                .mb-3
                    label.form-label(for='bookId') Chọn sách để bán:
                    br
                    select#bookId(name='bookId')
                        each book in books
                            option(value=book.id) #{book.bookName}
                .mb-3.col-1
                    label.form-label(for='count') Số lượng
                    input#count.form-control(type='number', name='count')
                input(type='submit', title='Gửi')



