include ../components/navbar.pug
.container

    div.row
        div.col-sm-1
        div.col-sm-10
            h1 Quản lý đơn hàng
        div.col-sm-1

    div.table.row
        div.col-sm-1
        table.col-sm-10
            thead
                tr
                    th(scope='col') Tên sách
                    th(scope='col') Số lượng
                    th(scope='col') Tổng
                    th(scope='col') Chỉnh sửa
            tbody
                if orders
                    each order in orders
                        tr

                            td
                                each book in order.bookName
                                    p #{book}
                                    br

                            td
                                each qtt in order.quantity
                                    p #{qtt}
                                    br

                            td= order.total

                            td
                                a(href=`/cancel/${order.orderID}`)
                                    svg.bi.bi-x(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                                        path(d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z')
        div.col-sm-1
