include ../components/head.pug
block append head 
  title Admin Dashboard
include ../components/headerAdmin.pug
include ../components/navbarAdmin.pug
h1 Your account cannot access this page
include ../components/footer.pug
include ../components/jsscript.pug