include ../components/head.pug
block append head 
  title Permission Denied
include ../components/header.pug
include ../components/navbar.pug

h1 Không có quyền truy cập

include ../components/footer.pug
include ../components/jsscript.pug