

    
.footer
  .row
    .col-md-5
      .slogan
        | Một trang web có tên là “Sách cũ sinh viên trường 
        | Đại học Kinh tế - ĐHĐN “ (POB).Đây sẽ là phương tiện 
        | để các bạn sinh viên dễ dàng tìm kiếm và trao đổi tài 
        | liệu học tập với nhau. Bên cạnh đó cũng giúp các bạn 
        | vừa tiết kiệm được đáng kể chi phí mua sách vừa nâng  
        | cao trách nhiệm sử dụng nguồn tài nguyên sách hiệu quả.
    .col-md-1   
    .col-md-3
      .tieude1
        h1(style="font-family: 'Times New Roman', Times, serif;")
          span(style='font-size:30px; color: #d14031;') PASS
          span(style='font-size:40px; color: #d14031;') BOOK
        //
          <a style="font-family: 'Times New Roman', Times, serif;" href="">
          <span style="font-size:30px; color: #d14031;">PASS</span>
          <span style="font-size:40px; color: #d14031;">BOOK</span> </a>
        p
          | Đại học Kinh tế Đà Nẵng 
    .col-md-3
      .tieude1
        h1(style="font-size:37px; color: #d14031;font-family: 'Times New Roman', Times, serif;")
          | THÀNH VIÊN
        ul
          li Phan Thị Đài
          li Dương Thị Diễm Hương
          li Nguyễn Phước Thảo Loan
          li Phan Thanh Sơn
          li Lê Thị Thanh Thuỷ
          li Trần Thiên Tú
          li Nguyễn Thị Tường Vy
    h2(style='font-size:15px; color: rgb(168, 167, 167);font-family: arial;') Design by Bang Bang Bang
// footer end
