// footer
.footer
  .row
    .col-md-6
      .slogan
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Consequuntur quos magni nam suscipit, earum officiis iure,
        | sunt facere ea nulla odit aliquid vel facilis dignissimos
        | accusamus nemo quaerat
        | explicabo recusandae?
    .col-md-3
      .tieude1
        h1(style="font-family: 'Times New Roman', Times, serif;")
          span(style='font-size:30px; color: #d14031;') PASS
          span(style='font-size:40px; color: #d14031;') BOOK
        //
          <a style="font-family: 'Times New Roman', Times, serif;" href="">
          <span style="font-size:30px; color: #d14031;">PASS</span>
          <span style="font-size:40px; color: #d14031;">BOOK</span> </a>
        p
          | &Dstrok;&#x1EA1;i h&#x1ECD;c Kinh t&#x1EBF; &Dstrok;&agrave; N&#x1EB5;ng 
          br
          | 012345678
        a(href='') nttvy1004@gmai.com
    .col-md-3
      .tieude1
        h1(style="font-size:37px; color: #d14031;font-family: 'Times New Roman', Times, serif;")
          | TH&Agrave;NH VI&Ecirc;N
        ul
          li Phan Th&#x1ECB; &Dstrok;&agrave;i
          li D&#x1B0;&#x1A1;ng Th&#x1ECB; Di&#x1EC5;m H&#x1B0;&#x1A1;ng
          li Nguy&#x1EC5;n Ph&#x1B0;&#x1EDB;c Th&#x1EA3;o Loan
          li Phan Thanh S&#x1A1;n
          li L&ecirc; Th&#x1ECB; Thanh Thu&#x1EF7;
          li Tr&#x1EA7;n Thi&ecirc;n T&uacute;
          li Nguy&#x1EC5;n Th&#x1ECB; T&#x1B0;&#x1EDD;ng Vy
    h2(style='font-size:15px; color: rgb(168, 167, 167);font-family: arial;') Design by Bang Bang Bang
// footer end
