// Header
.container
  header.header.d-flex
    .p-2.bd-highlight.search
      form.input-group.search-form(action='/searchByName', method='GET')
        input.form-control(type='text', placeholder='Search...', aria-label='Search', aria-describedby='search', name='name')
        .input-group-append
          button#button-addon2.btn.btn-outline-secondary(type='submit')
            i.fa.fa-search
    .p-2.flex-grow-1.bd-highlight.align-self-center.brand
      a.logo(href="/")
        span(style='font-size:30px; color: black;') PASS
        span(style='font-size:40px; color: #fa4c4c;') BOOK
    .header_icon
      ul
        li
          a.cart_link(href='')
            .info-icon
              a(href='/cart')
                i.fas.fa-shopping-bag
            .cart-text
              // <label >Giỏ hàng</label>
        if !username
          li
            a.login_link(href='')
              .info-icon
                a(href='/login')
                  i.fas.fa-user
              .login-text
                // <label >Đăng nhập</label>
        else
          li
            p=username
          li.nav-item.d-flex
            a.login_link(href='')
              .info-icon
                a(href='/logout')
                  i.fa.fa-sign-out-alt
          
// Header end
