// Navbar
nav.navbar.navbar-expand-sm.navbar-dark.menu(style='background-color: #d14031;')
  .container
    button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
    #collapsibleNavId.collapse.navbar-collapse.menutop
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(style='color:white;', href='/')
            | Trang ch&#x1EE7; 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(style='color:white;', href='/index') S&aacute;ch
        li.nav-item.active
          a.nav-link(style='color:white;', href='/history-buy') L&#x1ECB;ch s&#x1EED; mua h&agrave;ng
        li.nav-item.active
          a.nav-link(style='color:white;', href='/history-sold') L&#x1ECB;ch s&#x1EED; b&aacute;n h&agrave;ng
        li.nav-item.active
          a.nav-link(style='color:white;', href='/order-pay') Qu&#x1EA3;n l&yacute; &dstrok;&#x1A1;n h&agrave;ng
        li.nav-item.active
          a.nav-link(style='color:white;', href='/book-sell-by-user') Bán sách
        li.nav-item.active
          a.nav-link(style='color:white;', href='#') Li&ecirc;n h&#x1EC7;
// Navbar end
