* {
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
}

/*

-- Index overview --
--------------------
0. General
1. Header
2. Navbar
3. Carousel
4. Icon
5. Content
6. Category
7. Footer
8. Basket

*/


/* 0. General start */
.h{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:black;
    letter-spacing: 2px;
    /* text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2); */
    height: 100px;
    padding-top: 30px;
}
hr.ngang{
    border-top: 4px solid #e84e4e;
    width: 75px;
    margin-left: 47%;
    margin-top: -16px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.centerul {
    display: flex;
    justify-content: center;
}
table thead tr th {
    text-align: center;
    vertical-align: middle;
}
table tbody tr th {
    text-align: center;
    vertical-align: middle;
}
table tbody tr td {
    text-align: center;
    vertical-align: middle;
}
.table td {
    vertical-align: middle;
}
p {
    padding: 5px 0px;
    margin: 0px;
}
/* 0. General end */


/* 1. Header start */
.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.header .logo {
    text-decoration: none;
    padding-left: 158px;
}
/* tìm kiếm */
.input-group-text{
    background: #e84e4e;
}
.input-group-text i{
    color: #fff;
}

.search button i{
    text-align: center;
    font-size: 18px;
    padding-right: 7px;
    color: whitesmoke;
}
.search:hover input[type=text]{
    opacity: 1;
}
.search button:hover {
    background: transparent;
}
/* end tìm kiếm */

.header .search{
    display: flex;
    align-items: center;
    float:left;
    width: 300px;
    height: 80px;
}
.header input[type=text]{
    padding: 6px;
    font-size: 17px;
    border: none ;
    width: 200px;
    border: solid 1px rgb(235, 233, 233);
    background: #ebebeb;
    height: 48px;
}
.header .search .search-form {
    margin: auto 0px;
}
.header .search button{
    text-align: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    cursor: pointer;
    border: none;
    background: #e84e4e;
    color: white;
    height:48px;
    width: 48px;
}
.header .search button i{
    text-align: center;
    font-size: 15px;
    padding-right: 7px;
}
.header .search button:hover{
    background: #ccc;
}

.header .header_icon{
    display: flex;
    align-items: center;
    justify-self: center;
    /* width: 340px; */
    height: 80px; 
} 
.header .header_icon ul {
    display: flex;
    align-items: center;
    justify-self: center;
    list-style: none;
    margin: 0px;
    padding: 6px;
}
.header .header_icon ul li {
    display: inline-block;
    margin-right: 20px; 
    font-size: 25px;
}

.header .header_icon ul li .info-icon i.fas.fa-shopping-bag{
    color: #e84e4e;
}
.header .header_icon ul li .info-icon i.fa.fa-sign-out-alt{
    color: gray;
}
.header .header_icon ul li .info-icon i.fas.fa-user{
    color: gray;
}
/* 1. Header end */


/* 2. Navbar start */

.menu{
    width: 100%;
}
.menu .menutop{
    margin: 0px auto;
}
.menu .menutop ul {
    margin: 0px auto;
}
.menu .menutop ul li {
    padding: 0px 16px;
    font-size: 1em;
    font-weight: bold;
}
.menu .menutop ul li a:hover {
    color: black !important;
}
/* 2. Navbar end */

/* 3. Carousel start */
.carousel-size {
    max-width: 100%;
    max-height: 60%;
}
/* 3. Carousel end */

/* 4. Icon start */
.icon{
    background-color: white !important;
}
.card-deck{
    width: 100%;
    margin-bottom: 15px;
}
.card-deck .card.ic {
    border: none !important;
    background-color:white !important;
    visibility: visible;
    line-height: normal;
    animation-name: fadeInUp;
    animation-duration: 1s;
    font-size: 18px;
}
.ic img {
    height: 35px;
    width: 45px;
    margin-left: 105px;
    margin-top: 30px; 
}
.mota {
    text-align: center !important;
}
.tieude1 {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.chitiet {
    padding-top: 18px;
    font-size: 15px;
}
.mota a {
    color: black;
    border-bottom: 2px solid #d14031;
    padding-bottom: 4px;
}
.mota a:hover {
    text-decoration: none;
    color: gray;
}
/* 4. Icon end */

/* 5. Content start */
.noidung {

}
.home{
    padding-top: 60px;
    background-image: url(../images/bg-img-1_1920X.jpg);
    background-size: 100%;
    height: 420px;
}
.home .text-center{
    text-align: right;
    margin-left: 100px;
}
.home h1{
    margin-top: 65px;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 45px;
    margin-left:530px;
    color:#d14031; 
    /* font-family: Garamond serif; */
    font-family:'Times New Roman', Times, serif;
}
.home p{
    color: gray;
    font-weight: 400;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left:530px;
    font-weight: 400;
}
/* 5. Content end */

/* 6. Category start */
.content{
    background-color: #cfcfcf28;
    /* background-color: #fdefe1; */
    
}
.main {
    padding: 0px 23px;
    margin: 20px auto;
    width: 100%;
    
}
.main::after {
    content: "";
    clear: both;
}
.khoi {
    width: 243px;
    float: left;
    margin: 20px 15px;
    padding: 16px 16px;
    background-color: white;    
}

.hinh {
    width: 217px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.hinh .layer1 {
    width: 223px;
    height: 270px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;

}
.hinh .layer2 {
    width: 210px;
    height: 270px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(240, 231, 231, 0.52);
    display: none; 
}
.hinh:hover .layer2 {
    opacity: 1;
    transition: 0.5s;
    display: block;
}
.hinh .layer3 {
    background-color:transparent;
    display: block;
    display: none; 
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
    top: 132px;
    right: 5px;
    width: 30px;
    transition: 0.4s;
}
.layer3 i {
    animation: abc 1s ease;
    padding-top: 5px;
    display: block;
    font-size: 15px;
    color: rgb(238, 236, 236);
    margin-top: 8px;
    text-align: center;
    justify-content: center;
    animation: abc 1s ease;
}
.hinh:hover .layer3 {
    display: block;
    /* opacity: 1;
    transition: 0.5s; */
}
@keyframes abc{
    from{transform: scale(0.1)}
    to{transform:scale(1);}
    }
.tieude2 {
    margin-top: 10px;
    
    /* border-bottom: 1px solid gainsboro; */
    display: inline-block; /*tách rời khối riêng, nằm trên 1 dòng*/
}
.tieude2 a{
    text-transform:capitalize;
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.duoi .trai {
    /* display: flex; */
    align-items: center;
    position: relative;
    width: 220px;
    height: 70px;
    font-family: tahoma;
    margin-top: 3px;
    float: left;
}
.trai .lop1 {
    position: absolute;
    left: 0px;
    z-index: 2;
    color: #d14031;;
    font-size: 20px;
    transition: 0.4s;
}
.trai .lop2 {
    position: absolute;
    left: 0px;
    z-index: 2;
    color: black;
    font-size: 13px;
    opacity: 0;
    transition: 0.4s;
}
.trai .lop2 i{
    color: #d14031;
}
.trai:hover .lop1 {
    top: -10px;
    transition: 0.4s;
    opacity: 0;
    margin-top: 12px;
}
.trai:hover .lop2 {
    top: 0px;
    transition: 0.4s;
    opacity: 1;
}
.trai a{
    position: absolute;
    top: 30px;
}
.trai a, .khoinho a{
    background-color: #d14031;
    border: none;
    width: 200px;
    margin-left: 3px;
}
.duoi:hover a, .khoinho:hover a{
    background-color: white;
    border: 1px solid #d14031;
    color: #d14031;
}
/* 6. Category end */

/* 7. Footer start */
.footer {
    background: url(../images/footer.jpg);
    color: #ffffff;
    background-size: 100%;
    height: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;    
}
.footer .tieude {
    margin-top: 10px;
}
.footer a {
    position: absolute;
    text-decoration: none;
    color:white;
    top: 46%;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: lighter;
}
.footer p{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: lighter;

}
.footer ul li {
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: lighter;
}
.footer .slogan {
    margin-left: 30px;
    margin-top: 10px;
}
.footer h2 {
    margin-left: 46%;
}

.footer-head {
    font-family: 'Times New Roman', Times, serif;
    padding: 50px 0;
    background-color: rgba(241, 155, 133, 0.2);
    text-align: center;
  }
.footer-head .head-ttl {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    color: #de522f;
  }
.footer-head .head-des {
    margin-bottom: 30px;
    font-size: 1.3rem;
    line-height: 22px;
    color: #de522f;
    font-size: 16px;
  }
.footer-head .head-frm .frm-group {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
.footer-head .head-frm .frm-group .frm-input {
    width: 100%;
    height: 40px;
    padding: 0 22px;
    background-color: transparent;
    font-size: 1.4rem;
    line-height: 22px;
    color: #000;
    outline: none;
    overflow: auto;
    border: none;
    border: 1px solid #f19b85;
  }
.footer-head .head-frm .frm-group .frm-input:placeholder, .footer-head .head-frm .frm-group .frm-input:-moz-placeholder, .footer-head .head-frm .frm-group .frm-input:-ms-input-placeholder, .footer-head .head-frm .frm-group .frm-input:-webkit-input-placeholder {
    color: #f19b85;
    opacity: 1;
  }
.footer-head .head-frm .frm-group .frm-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 60px;
    height: 100%;
    text-indent: -9999px;
    outline: none;
    -moz-box-shadow: none;
         box-shadow: none;
    border: none;
    -moz-border-radius: 0;
         border-radius: 0;
  }
.footer-head .head-frm .frm-group .frm-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 23px;
    background: url("../images/ic_send.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

/* 7. Footer end */

/* 8. Basket start */
.giohang{
    width: 100%;
    display: flex;
    height: auto;
    background-color: #fdefe1;
    padding-left:80px;
    margin-bottom: 40px;
}

.giohang .thongtin{
    width: 67%;
    padding-top: 50px;
    padding-left: 47px;
}
.giohang .thongtin i{
    color: #c43e2f;
}
.giohang .muahang{
    width: 23%;
}
.muahang .thanhtien{
    padding-top: 50px;
    padding-left: 60px;
}
.tongtien{
    padding-left: 10px;
    font-size: 20px;
    font-style: bold;
    color: #e84e4e;
}
.muahang .wrap-btn{
    height: 150px;
    padding-top: 45px;
    padding-left: 60px;
    
}
.muahang .wrap-btn .btn-mua{
    text-decoration: none;
}
.btn-mua{
    color: rgba(255, 255, 255, 0.938);
    background: #e84e4e;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    border: none;
}
.btn-mua:hover{
    background:white;
    border: 1px solid #e84e4e;
    color: #e84e4e;
    font-weight: normal;
}
.table-bordered {
    border: 1px solid #ddd;
}
table {
    margin: auto 10px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-title {
    background-color: #d14031;
    color: white;
    border: none;
    font-family: 'Bai Jamjuree', sans-serif;
    width: 1000px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th,td{
    border-top: none;
    border-bottom-width: 2px;
    border:1px solid #ddd;
    vertical-align: bottom;
    padding: 4px;
    line-height: 2;
    font-weight: 100px;
    text-align: left;
    display: table-cell;
    position: relative;
}
.btn-xoa{
    bottom:25%;
    background-color: transparent;
    border:#ddd;
    width: 38px;
    height: 35px;
    color: rgb(247, 38, 38);
}
/* input[type='number'] {
	margin-right: 7px;
	line-height: 12px;
    font-size: 15px;
    border: white;
    width: 30px;
    height: 30px;
    background-color: #fdefe1;
} */

.btnn {
    background-color: #d14031;
    border:#d14031;
}
.btn-primary{
    background-color:#d14031 ;
    border:#d14031;
}
.btn-primary:hover {
    background-color: white;
    color: #d14031;
    border: 1px solid #d14031;
}
/* 8. Basket end */

/* 9. Login start  */

/* 9.Login end  */

/* 10. book_form_new start */

/* 10. book_form_new end */

/* 11. book-detail start  */

.khoinho{
    padding: 15px auto;
    
}
.khoinho label{
    float: left;
}
.khoinho .freeship{
    padding-left: 40px;
    /* margin-left: 10px; */
}
.khoinho .motachitiet{
    padding-left: 80px;
}
.khoinho span{
    padding-left: 15px;
}
.khoinho p{
    padding-left: 68px;

}
.khoinho a{
    margin-top: 20px;
}
.row{
    margin: 0;
    width: 100%;
}  

.container-fluid{
    background-color: #fdefe1;
    height:480px;
    padding-top: 50px;
}

/* 11.book-detail end  */

/* 12. book-shell start  */

.mt-3.mb-5 .form-horizontal.col-sm-4{
    background-color: #fdefe1;
    padding: 20px 20px;
}
/* 12. book-shell end  */