include head.pug
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
        a.navbar-brand(href='/') Book shop
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/statis') Thống kê
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/order-manage') Quản lý đơn hàng
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/book-accept') Quản lý nhập sách
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/book-manager') Quản lý kho sách
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/create-book') Tạo sách mới
            ul.navbar-nav
                -if (username != null)
                    li.nav-item.d-flex
                      a(href='/logout').nav-link.active
                          i.fa.fa-sign-out-alt
                -else
                  li.nav-item.d-flex
                    a(href='/login').nav-link.active
                        i.fa.fa-user
